body{
    background-color: black;
    background-image: url(league-of-legends-ashe-y5d6zqgc9hhm983v.jpg);
}
h1{
    text-align: center;
}
fieldset#campo{
    width: fit-content;
    display: inline;
    border-radius: 10px;
    margin-left: 380px;
    background-color: rgba(127, 255, 212, 0.699);
}
fieldset#campo2{
    width: fit-content;
    display: inline;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.699);    
}
#res{
    margin-top: 50px;
    text-align: center;   
}
button#resposta{
    width: 100px;
    height: 30px;
}
