body{
    background: rgba(0, 0, 0, 0.699);
}
header > h1{
    text-align: center;
    color: whitesmoke;
}
section {
    background: whitesmoke;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}
div{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
select#flista{
    width: 180px;
}